<!DOCTYPE html>
	<html>
		<head>
			<title>{{ page.title }}</title>	
			<link rel="stylesheet" href="/css/main.css">
			<link rel="stylesheet" href="/css/tabulature.css">
		</head>
		<body>
			<nav>
	    		<ul>
					<li><a href="/">Home</a></li>
					<li><a href="/">Tabulature</a></li>
	    		</ul>
			</nav>
			<div class="container">
			<div class="songinfo">
				<h2>{{ page.songtitle }}</h2><br />
				<b>{{ page.artist }}</b><br />
				{{ page.album }} - {{ page.releaseyear }}<br />
			</div>
			{{ content }}
			
			</div><!-- /.container -->
			<footer>
	    		<ul>
	        		<li>email</li>
	        		<li>----</li>
				</ul>
			</footer>
		</body>
	</html>
